{
  "extends": [
    "@raing3/eslint-config",
    "@raing3/eslint-config/typescript",
    "@raing3/eslint-config/jest"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "plugins": ["@typescript-eslint"],
  "reportUnusedDisableDirectives": true,
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "no-console": "off"
  }
}
